:root {
  --accent: #5c9c5c;
  --secondary: #c9bcb4;
  --danger: #591a4c;
  --white: #ebddda;
  --text: #404140;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 1em;
}

#about-me {
  text-decoration: none;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  padding: 2em;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  margin-block: 3em;
  margin-inline: auto;
  max-width: 1366px;
}

#welcome-section {
  display: grid;
  place-items: center;
  height: 50vh;
}

#welcome-section h1 {
  font-size: 3em;
  margin-bottom: 0;
}

#welcome-section p {
  text-align: left;
  font-size: 2em;
  margin-top: 0;
  color: var(--accent);
}

#navbar {
  top: 0;
  padding: 0 2em;
  display: flex;
  justify-content: end;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--white);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
}

#navbar ul {
  display: flex;
  gap: 2em;
  list-style: none;
  padding: 0;
}

#navbar ul li {
  margin: 0;
  padding: 0;
}

#navbar ul li a {
  font-size: 1.2em;
  color: var(--accent);
  text-decoration: none;
  box-sizing: border-box;
  transition: border 0.1s;
}

#navbar ul li a:hover {
  border-bottom: 1px solid var(--accent);
}

.my-name {
  color: var(--danger);
}

.profile-picture {
  border-radius: 50%;
  image-rendering: pixelated;
}

.projects-container {
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2em;
  margin-block: 3em;
  max-width: 1366px;
}

.session-title {
  color: #1c5c48;
  text-align: center;
}

.project-tile {
  color: black;
  text-decoration: none;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  padding: 0 2em 1em;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  transition: border 0.3s;
}

.project-tile .project-title {
  color: #002a33;
}

.project-tile .project-description {
  color: #404140;
}

.project-tile .project-img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(1);
  background-color: #002a33;
  height: 16rem;
}

.project-tile p {
  text-align: justify;
}

.project-tile:hover {
  border: 2px solid var(--accent);
}

.project-tile:hover > img {
  filter: grayscale(0);
}

.about-me-body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: 3em;
  gap: 1em;
}

footer {
  background: var(--accent);
  margin: 0;
  padding: 0;
}

.social {
  color: var(--white);
  display: grid;
  place-items: center;
}

.social ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2em;
}

.social ul li a {
  color: var(--white);
  font-size: 5em;
}

.social ul li a:hover {
  color: var(--danger);
}

@media screen and (min-width: 600px) {
  body {
    background-size: 100%;
  }

  #welcome-section h1 {
    font-size: 5em;
    margin-bottom: 0;
  }

  #welcome-section p {
    text-align: center;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  #about-me {
    padding: 2em 6em;
  }

  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me-body {
    flex-direction: row;
    gap: 6em;
    align-items: center;
  }
}
