@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


:root {
  --accent: #47b64b;
  --secondary: #56787a;
  --pop: #618fad;
  --white: #dbd4ca;
  --light: #bbb4aa;
  --text: #262640;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--white);
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  box-sizing: border-box;
}

section {
  padding-top: 5vh;
  margin-inline: 1ch;
}

header {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 1em;
}

#about-me {
  text-decoration: none;
  padding: 2em;
  margin-block: 3em;
  margin-inline: auto;
  max-width: 1366px;
}

#welcome-section {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 50vh;
}

#welcome-section h1 {
  font-size: 4.5em;
  margin-block: 0;
}

#welcome-section p {
  text-align: left;
  font-size: 2em;
  margin: 0;
  color: var(--accent);
  font-family: monospace;
}

#navbar {
  top: 0;
  padding: 0 2em;
  display: flex;
  justify-content: end;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--white);
  border-bottom: 2px solid var(--light);;
  z-index: 999;
}

#navbar ul {
  display: flex;
  gap: 2em;
  list-style: none;
  padding: 0;
}

#navbar ul li {
  margin: 0;
  padding: 0;
}

#navbar ul li a {
  font-size: 1.2em;
  color: var(--text);
  text-decoration: none;
  box-sizing: border-box;
  transition: border 0.3s;
}

#navbar ul li a:hover {
  border-bottom: 1px solid var(--text);
}

.my-name {
  color: var(--pop);
}

.profile-picture {
  width: 60%;
  border-radius: 50%;
  image-rendering: pixelated;
}

.projects-container {
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2em;
  margin-block: 3em;
  max-width: 1366px;
}

.section-title {
  color: var(--secondary);
  text-align: center;
}

.card {
  color: var(--text);
  text-decoration: none;
  border: 2px solid var(--light);
  padding: 0;
  box-sizing: border-box;
  box-shadow: 1ch 1ch 0 0 rgba(0, 0, 0, 0.1);
  transition: border 0.3s;
}

.card > .card-title {
  text-align: left;
  font-weight: 400;
  color: var(--text);
  padding: 1ch;
  margin: 0;
}

.card > .card-img {
  padding: 2em;
}

.card > .card-img > img {
  background-color: var(--pop);
  padding: 1ch;
  width: 100%;
  object-fit: contain;
  height: 16rem;
  box-sizing: border-box;
}

.card p {
  text-align: justify;
}

.card:hover {
  border: 2px solid var(--pop);
}

.card:hover > .card-title {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 3px;
}

.card > .card-title > i {
  display: none;
}

.card:hover > .card-title > i {
  display: block;
}

.about-me-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 3em;
  gap: 1em;
}

footer {
  background: var(--secondary);
  margin: 0;
  padding: 0;
}

.social {
  color: var(--white);
  display: grid;
  place-items: center;
}

.social ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2em;
}

.social ul li a {
  color: var(--light);
  font-size: 3em;
}

.social ul li a:hover {
  color: var(--pop);
}

p.caret-underscore {
  padding: 1ch;
  position: relative;
  max-width: max-content;
}

p.caret-underscore > span:last-child {
  position: relative;
  animation: blink 1s step-end infinite;
  border-bottom: 2px solid var(--accent);
}

.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--accent);
  }
}

@media screen and (min-width: 600px) {
  body {
    background-size: 100%;
  }

  #welcome-section h1 {
    font-size: 5em;
    margin-bottom: 0;
  }

  #welcome-section p {
    text-align: center;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 990px) {
  #about-me {
    padding: 2em 6em;
  }

  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me-body {
    flex-direction: row;
    gap: 6em;
    align-items: center;
  }

  #welcome-section p {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(42, end);
  }

  p.caret-underscore {
    padding-inline: 2ch;
    padding-block: 1ch;
  }

  p.caret-underscore > span:last-child {
    position: absolute;
    right: 1ch;
  }
}
